<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<div>
   <p>
   Right click on any banner to download. Each hi-res banner is 400x400 (twice 200x200 so it remains sharp on a retina screen).
   </p>
 </div> 
 
 <div class="items" *ngFor="let item of items">
  <app-canvas [item]="item.name" [id]="item.id" [source]="item.image" [cta]="item.calltoaction"></app-canvas>        
  <p>{{item.name}}</p>
 </div>

 <div>
   <p>
   Thanks to Jon Sullivan for public domain photos.
  </p>
</div>






